html,
body {
  padding: 0;
  margin: 0;
  font-family: Be Vietnam, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "exodus-demo-sharpen";
  src: url("../assets/fonts/ExodusDemo-Sharpen.otf") format("woff"),
    url("../assets/fonts/ExodusDemo-Sharpen.otf") format("opentype"),
    url("../assets/fonts/ExodusDemo-Sharpen.otf") format("truetype");
}

.heading {
  font-family: "exodus-demo-sharpen", serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 120%;
}

.link-btn {
  text-transform: uppercase;
  position: relative;
  font-size: 0.6875rem;
  letter-spacing: 2.2px;
  font-weight: bold;
}

.link-btn::before {
  content: "";
  background: black;
  position: absolute;
  height: 4px;
  width: 100%;
  left: -1px;
  bottom: -7px;
}

.shutter {
  position: fixed;
  height: 100vh;
  z-index: 50;
  width: 100vw;
}

.shutter-top {
  position: absolute;
  background: gray;
  height: 50%;
  top: 0;
  width: 100%;
  transition: all .8s;
  transition-delay: .5s;
}

.shutter-bottom {
  position: absolute;
  background: gray;
  height: 50%;
  bottom: 0;
  width: 100%;
  transition: all .8s;
  transition-delay: .5s;
}