html,
body {
  padding: 0;
  margin: 0;
  font-family: Be Vietnam, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.heading {
  font-family: Montserrat, sans-serif;
}

.link-btn {
  position: relative;
}

.link-btn::before {
  content: '';
  background: black;
  position: absolute;
  height: 4px;
  width: 100%;
  left: -1px;
  bottom: -7px;
}